.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 2px 3px;
    color: rgb(6, 10, 246);
    background: var(--main-bg-color);
    border: 2px solid rgb(6, 10, 246);
    border-radius: 7px;
    cursor: pointer;
    ;
}
.my-2{
    margin: 17px 0;
}
.my-1{
    margin: 3px 0;
}
.text-center{
    margin-left: 29px;
}

